<a href="https://colab.research.google.com/github/oferbaharav/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module1-statistics-probability-and-inference/Ofer_Baharav_Copy_of_LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
titles = ['party', 'handicapped-infants', 'water-projet-cost-sharing', 'adoption-of-the-budget-resolution', 
          'physician-fee-freeze', 'el-salvador-aid', 'religious-groups-in-schools', 'anti-satellite-test-ban',
          'aid-to-nicaraguan-contras', 'mx-missile', 'immigration', 'synfuels-corporation-cutback', 'education-spending',
          'superfund-right-to-sue', 'crime', 'duty-free-exports', 'export-administration-act-south-africa']

In [2]:
### YOUR CODE STARTS HERE
import pandas as pd
import numpy as np
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', names = titles)
df.head()

        party  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
cleaned_df = df.replace({'?': np.NaN, 'y': 1.0, 'n': 0.0})

In [47]:
cleaned_df.head()

        party  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [9]:
cleaned_df.shape

(435, 17)

In [11]:
cleaned_df['handicapped-infants'].head()

0    0.0
1    0.0
2    NaN
3    0.0
4    1.0
Name: handicapped-infants, dtype: float64

In [50]:
cleaned_df_republican = cleaned_df[cleaned_df['party'] =='republican'].drop('party', axis = 1)
cleaned_df_repulican.head()

    handicapped-infants  ...  export-administration-act-south-africa
0                   0.0  ...                                     1.0
1                   0.0  ...                                     NaN
7                   0.0  ...                                     1.0
8                   0.0  ...                                     1.0
10                  0.0  ...                                     0.0

[5 rows x 16 columns]

In [51]:
cleaned_df_democrat = cleaned_df[cleaned_df['party'] =='democrat'].drop('party', axis = 1)
cleaned_df_democrat.head()

   handicapped-infants  ...  export-administration-act-south-africa
2                  NaN  ...                                     0.0
3                  0.0  ...                                     1.0
4                  1.0  ...                                     1.0
5                  0.0  ...                                     1.0
6                  0.0  ...                                     1.0

[5 rows x 16 columns]

In [52]:
aggregate_democrat = cleaned_df_democrat['handicapped-infants'].sum()
aggregate_democrat

156.0

In [53]:
aggretate_republican = cleaned_df_repulican['handicapped-infants'].sum()
aggretate_republican

31.0

In [0]:
#Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel
tstat, pvalue = ttest_ind(cleaned_df_republican['handicapped-infants'], cleaned_df_democrat['handicapped-infants'], nan_policy='omit')

In [23]:
pvalue<0.01

True

In [55]:
#cleaned_df_repulican = cleaned_df[cleaned_df['party'] =='republican'].drop('party', axis = 1)
aggregate_republican_immigration = cleaned_df_republican['el-salvador-aid'].sum()
aggregate_republican_immigration

157.0

In [56]:
aggregate_democrat_immigration = cleaned_df_democrat['el-salvador-aid'].sum()
aggregate_democrat_immigration

55.0

In [0]:
tstat, pvalue = ttest_ind(cleaned_df_repulican['el-salvador-aid'], cleaned_df_democrat['el-salvador-aid'], nan_policy='omit')

In [58]:
pvalue<0.01

True

In [59]:
#Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)
pd.DataFrame({'cleaned_df_republican': cleaned_df_republican.sum(), 'cleaned_df_democrat': cleaned_df_democrat.sum()})

                                        cleaned_df_republican  cleaned_df_democrat
handicapped-infants                                      31.0                156.0
water-projet-cost-sharing                                75.0                120.0
adoption-of-the-budget-resolution                        22.0                231.0
physician-fee-freeze                                    163.0                 14.0
el-salvador-aid                                         157.0                 55.0
religious-groups-in-schools                             149.0                123.0
anti-satellite-test-ban                                  39.0                200.0
aid-to-nicaraguan-contras                                24.0                218.0
mx-missile                                               19.0                188.0
immigration                                              92.0                124.0
synfuels-corporation-cutback                             21.0                129.0
education-spending                                      135.0                 36.0
superfund-right-to-sue                                  136.0                 73.0
crime                                                   158.0                 90.0
duty-free-exports                                        14.0                160.0
export-administration-act-south-africa                   96.0                173.0

In [0]:
aggregate_republican_immigration = cleaned_df_republican['el-salvador-aid'].sum()
aggregate_republican_immigration